@import "tailwindcss";

@theme {
    --color-offwhite: #fdfdfd;
}

:focus-visible {
    @apply ring-3 ring-cyan-600/50 outline-none border-cyan-600;
}

.has-error {
    @apply border-red-700 ring-red-700/50;
}



.slider {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    background-color: #ccc;
    border-radius: 28px;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

input:focus + .slider {
    @apply ring-3 ring-cyan-600/50 outline-none border-cyan-600;
}
